
{% extends 'base.html' %}

{% block head %}
     <title>Contact Us</title>
{% endblock %}

{% block navibar %}
  <!-- MENU LINKS -->
  <div class="collapse navbar-collapse">
     <ul class="nav navbar-nav navbar-nav-first">
          {% if g.firstname %}
             <li ><a href="{{url_for('jobsearch')}}">Job Search</a></li>
             {% else %}
             <li ><a href="{{url_for('home')}}">Home</a></li>
             {% endif %}
          <li><a href="{{url_for('aboutus')}}">About Us</a></li>
          <li class="dropdown">
               <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">More <span class="caret"></span></a>
               
               <ul class="dropdown-menu">
                    <li><a href="{{url_for('developerinfo')}}">Developer info</a></li>
                    <li><a href="{{url_for('terms')}}">Terms</a></li>
               </ul>
          </li>
          <li class="active"><a href="{{url_for('contactus')}}">Contact Us</a></li>
    
     </ul>                        

{% endblock %}

{% block body %}
     <section>
          <div class="container">
               <div class="text-center">
                    <h1>Contact Us</h1>

                    <br>

                    <p class="lead">We love conversations. let us talk!</p>
               </div>
          </div>
     </section>


     <!-- CONTACT -->
     <section id="contact">
          <div class="container">
               <div class="row">

                    <div class="col-md-6 col-sm-12">
                         <form id="contact-form" role="form" action="{{url_for('contactus')}}" method="post">
                              <div class="col-md-12 col-sm-12">
                                   <input type="text" class="form-control" placeholder="Enter full name" name="name" required>
                    
                                   <input type="email" class="form-control" placeholder="Enter email address" name="email" required>

                                   <textarea class="form-control" rows="6" placeholder="Tell us about your message" name="message" required></textarea>
                              </div>

                              <div class="col-md-4 col-sm-12">
                                   <input type="submit" class="form-control" name="send message" value="Send Message">
                              </div>

                         </form>
                    </div>

                    <div class="col-md-6 col-sm-12">
                         <div class="contact-image">
                              <img src="{{url_for('static', filename='images/contact-1-600x400.jpg')}}" class="img-responsive" alt="">
                         </div>
                    </div>

               </div>
          </div>
     </section>       

{% endblock %}
    
